// Colors 
$white:                     #FFFFFF;
$black:                     #000000;
$flush:                     #BF1D67;
$disco:                     rgba(192, 29, 103, 0.25);
$crimson:                   #EE2238;
$venus:                     rgba(242, 242, 242, 0.4);
$solidVenus:                rgba(242, 242, 242, 1);
$codgray:                   #1E1E1E;
$darkshadow:                rgba(0, 0, 0, 0.25);

// Globals
@mixin body {
    font-family: "Nunito", sans-serif;
    color: $white;
    background: $black;
}

// Title 
@mixin h1 {
    font-weight: 700;
    font-size: 50px;
    color: $white;
    text-align: center;
}
@mixin h2 {  
    font-size: 45px;
    font-weight: 700;
    color: $white;
    text-align: center;
}

// Pages
@mixin section-app {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

// Pages
@mixin button {
    width: 100%;
    margin : 10px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    width: 30%;
    align-items: center;
}

//Input
@mixin Form {
    width: 40%;
    min-width: 200px;
    height: 40%;
    background: $venus;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 15px;
    padding: 25px;
}

//Input
@mixin input {
    width: 60%;
    height: 50px;
    font-size: 16px;
    background: $solidVenus;
    color: $black;
    margin:10px;
    letter-spacing: 0.1rem;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    padding-left: 15px;
    cursor: text;
    outline: none;
}

